{% extends 'projects_app/base.html' %}
{% block addprojectform %}
    <div class="container">
        <h1 align="center">Add your projects</h1>
        <form class="mt-5" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="project_name">Project Name</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="organization_name">Organization Name</label>
                {{ form.organization_name }}
            </div>
            <div class="form-group">
                <label for="organization_name">Description</label>
                {{ form.desc }}
            </div>
            <div class="form-group">
                <label for="project_sector">Sector</label>
                {{ form.sector }}
            </div>
            <div class="form-group">
                <label for="project_technology">Technologies used</label>
                {{ form.technology }}
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    
    
{% endblock%}