.project-title{
    font-family: sans-serif;
    display: inline;
}

.project-name{
    display: inline;
    color: rgb(26, 26, 36);
    font-family: sans-serif;
    align-content: center;

}
#form {

    border: 1px solid black;
    padding: 1.5%;
    text-align: center;
    

}